body {
background-color: #000000;
width: 700px;
margin: 0 auto;

}

.header {
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* GRID AESTHETICS  */
.row {
  height: 40px;
  
}

.row div {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0px;

}

.empty {
  background-color: black;
 }
 
 .wall {
   background-color: #0C0075;
 }

 /* DYNAMIC CONTENT */
.food {
  background-image: url(../images/food.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reward {
  background-image: url(../images/cherryfruit.gif);
  background-repeat: no-repeat;
  height: 1px;
  width: 1px;
  background-position: center;
  background-size: cover;
  background-size: contain;
}

div#ghostOne {
  background-image: url(../images/clydeghost.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 27px;
  width: 27px; 
  position: absolute;
  background-size: contain;
}

div#ghostTwo {
  background-image: url(../images/ghostblinky.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 28px;
  width: 27px; 
  position: absolute;
  background-size: contain;
}

div#ghostThree {
  background-image: url(../images/ghostinky.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 27px;
  width: 27px; 
  position: absolute;
  background-size: contain;
}

div#ghostFour {
  background-image: url(../images/purpleghost.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px; 
  position: absolute;
  background-size: contain;
}

div#pacman {
  background-image: url(../images/pacmanMunch.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  position: absolute;
  background-size: contain;
}

#score {
  font: 20px;
  color: white;

}
#gameover {
  opacity: 0;

}